# -*- mode: conf-unix; -*-
[BASIC]

# Good variable names which should always be accepted, separated by a comma.
good-names=f,m


[MESSAGES CONTROL]

# Disable the message, report, category or checker with the given id(s).
disable=missing-module-docstring,
        missing-class-docstring,
        missing-function-docstring,
